OPENAI_API_KEY=
SUBSCRIPTION_ACTIVE=
TAKBULL_WEBHOOK_SECRET=
WORK_PREFERENCES_PATH=data_folder/work_preferences.yaml
RESEND_API_KEY=
RESEND_FROM_EMAIL=JobFinder <apply@jobfinder.fit>
APPLICATION_REPLY_TO_EMAIL=
RESEND_API_URL=https://api.resend.com/emails
